html
  head
    title ChimeIn
    link(rel="stylesheet", href="/style.css", type='text/css')
    block scripts
  body
    div.title
      a(href="/").title
        h1 ChimeIn - 2
    div.content
      block content
