html
  head
    title ChimeIn
    link(rel="stylesheet", href="/style/out.css", type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no")
    block scripts

  body
    div.title
      a(href="/").title
        img(src="/assets/logo.svg").logo
    div.content
      block content
