extends base.pug


block scripts
  script(src="/scripts/ajax.js")
  script(src="/scripts/valid.js")
  script(src="/scripts/cookies.js")


block content
  form(action="join", id="sessionForm")
    input(name="id", id="sessionId", required, autocomplete="off", placeholder="Session ID").sessionID

  div.partyOptions
    a(id="create", style="cursor:pointer;")
      div.option
        p Host

    a(id="join",style="cursor:pointer;")
      div.option
        p Join
