extends base.pug


block scripts
  script(src="/scripts/ajax.js")
  script(src="/scripts/valid.js")
  script(src="/scripts/cookies.js")
  script(src="/scripts/joinPage.js")


block content

  input(name="id", id="sessionId", required, autocomplete="off", placeholder="123-456-789").sessionID

  div.partyOptions
    a(id="create", style="cursor:pointer;")
      div.option.hostBtn(style="background-color:#1DB954;")
        if user
          if canHost
            p Host
          else
            p Need to have premium to host
        else
          p Sign in to Spotify to host

    a(id="join",style="cursor:pointer;")
      div.option
        p Join
