extends base.pug


block scripts
  script(src="/scripts/ajax.js")
  script(src="/scripts/valid.js")
  script(src="/scripts/cookies.js")
  script(src="/scripts/joinPage.js")
  script(src="/scripts/modal.js")
  script(src="/scripts/understudy.js")


block content

  input(name="id", type="number", id="sessionId", autocomplete="off").sessionID
  p(id="fake", style="display: none;").sessionID

  div.partyOptions
    a(id="create", style="cursor:pointer;")
      div.option.hostBtn(style="background-color:#1DB954;")
        p(status=0) Host with Spotify

    a(id="join",style="cursor:pointer;")
      div.option
        p Join
