extends base.pug


block scripts
  script(src= scripts + "/ajax" + scriptEnding, type="application/javascript")
  script(src= scripts + "/valid" + scriptEnding, type="application/javascript")
  script(src= scripts + "/cookies" + scriptEnding, type="application/javascript")
  script(src= scripts + "/storage" + scriptEnding, type="application/javascript")
  script(src= scripts + "/joinPage" + scriptEnding, type="application/javascript")
  script(src= scripts + "/modal" + scriptEnding, type="application/javascript")
  script(src= scripts + "/understudy" + scriptEnding, type="application/javascript")


block content

  div.pure-u
    input(name="id", type="number", id="sessionId", pattern="[0-9]*", autocomplete="off", placeholder="Room Id").largeText
    p(id="fake", style="display: none;").sessionID

    div.partyOptions
      a(id="create", style="cursor:pointer;")
        button.option.noMobile.hostBtn(style="background-color:#1DB954;")
          p(status=0) Host

      a(id="join",style="cursor:pointer;")
        button.option
          p Join

    p.noMobile.footer #{buildNumber}
