extends base

block scripts

block scripts
  script(src= scripts + "/cookies" + scriptEnding, type="application/javascript")
  script(src= scripts + "/ajax" + scriptEnding, type="application/javascript")
  script(src= scripts + "/guest" + scriptEnding, type="application/javascript")
  script(src= scripts + "/modal" + scriptEnding, type="application/javascript")
  script(src= scripts + "/pageController" + scriptEnding, type="application/javascript")
  script(src= scripts + "/spot" + scriptEnding, type="application/javascript")

  if host
    script(src="https://sdk.scdn.co/spotify-player.js")
    script(src= scripts + "/tutorial" + scriptEnding, type="application/javascript")

block content
  span(id="roomCode", style="display:none;")= id
  div
    a(href="https://open.spotify.com/", id="imageLink", target="_blank")
      img(src="/assets/connect.png", id="playing", style="display:block; margin: auto;")
      p(style="text-align: center; font-size: 1.8em", id="NAT") Song name

  div.tabs
    button(onclick="openTab(0)", id="qHead").active Queue
    button(onclick="openTab(1)") Search
    button(onclick="openTab(2)") Room


  div.tabContainer(index=0)
    div
      ul(id="queue")

  div.tabContainer.hidden(index=1)
    div
      input(id="songSearch", placeholder="Song name", type="search")
      ul(id="q")

  div.tabContainer.hidden(index=2)
    div.roomInfo
      p Room Number
      p(id="humanCode")
      div.leaveRoom
        p Leave Room
