extends base

block scripts

block scripts
  script(src= scripts + "/cookies" + scriptEnding, type="application/javascript")
  script(src= scripts + "/ajax" + scriptEnding, type="application/javascript")
  script(src= scripts + "/guest" + scriptEnding, type="application/javascript")
  script(src= scripts + "/modal" + scriptEnding, type="application/javascript")
  script(src= scripts + "/pageController" + scriptEnding, type="application/javascript")
  script(src= scripts + "/spot" + scriptEnding, type="application/javascript")

  if host
    script(src="https://sdk.scdn.co/spotify-player.js")
    script(src= scripts + "/tutorial" + scriptEnding, type="application/javascript")
  else
    script.
      window.addEventListener("load", (e) => {
        autoCheck(genID());
      });

block content
  span(id="roomCode", style="display:none;")= id
  div
    a(href="https://open.spotify.com/", id="imageLink", target="_blank")
      img(src="/assets/connect.png", id="playing", style="display:block; margin: auto;")
      p(style="text-align: center; font-size: 1.8em", id="NAT") Song name

  div.tabs
    div(onclick="openTab(0)", id="qHead").active
      p.noMobile Queue
      img.noDesktop(src="/assets/queue.svg")
    div(onclick="openTab(1)")
      p.noMobile Search
      img.noDesktop(src="/assets/search.svg")
    div(onclick="openTab(2)")
      p.noMobile Room
      img.noDesktop(src="/assets/room.svg")


  div.tabContainer(index=0)
    div
      p(id="noSongs").noSongs No songs in the queue
      ul(id="queue")

  div.tabContainer.hidden(index=1)
    div
      input(id="songSearch", placeholder="Song name", type="search")
      ul(id="q")

  div.tabContainer.hidden(index=2)
    div.roomInfo
      p Room Number
      p(id="humanCode")
      //-div.leaveRoom
      //-  p Leave Room
