extends base

block scripts
  script(src="/scripts/cookies.js")
  script(src="/scripts/ajax.js")

  script(src="/scripts/guest.js")
  script(src="/scripts/modal.js")
  script(src="/scripts/pageController.js")


  script(src="/scripts/spot.js")

  if host
    script(src="https://sdk.scdn.co/spotify-player.js")
    script(src="/scripts/tutorial.js")

block content
  span(id="roomCode", style="display:none;")= id
  h2(style="display:none;") #CODE
  div
    a(href="https://open.spotify.com/", id="imageLink", target="_blank")
      img(src="/assets/connect.png", id="playing", style="display:block; margin: auto;")
      p(style="text-align: center; font-size: 1.8em", id="NAT") Song name

  div.tabs
    button(onclick="openTab(0)", id="qHead").active Queue
    button(onclick="openTab(1)") Search


  div.tabContainer(index=0)
    div
      ul(id="queue")

  div.tabContainer.hidden(index=1)
    div
      input(id="songSearch", placeholder="Song name")
      ul(id="q")
