
/* Used for house keeping */
:root{
  --main-bg-color: #02182E;
  --main-accent-color : #ECB613;


  --modal-padding: 2%;
  --modal-vertical: calc((50% - 170px) / 3);
}



body{
  background-color: var(--main-bg-color);
  color: white;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
  font-size: 62.5%;
}



a{
  color: var(--main-accent-color);
}

a.title{
  text-decoration: none;
}

h1{
  color: #ECB613;
  font-size: 4em;
}

div.partyOptions{
  width: 50%;
  margin: 0 auto;
}

div.title{
  width: 100%;
  height: 10vm;
  text-align: center;
}

.option{
  width: 50%;
  height: 12%;
  background-color: #C00;
  float: left;
  border-radius: 10px;
  font-size: 2.5em;
  margin: 0 auto;
  margin-bottom: 3%;
  margin-left: 25%;
  display: flex;
}

.option p{
  margin: auto;
  text-align: center;
}

form#sessionForm{
  width: 50%;
  margin: 0 auto;
}

input.sessionID{
  display: block;
  width: 50%;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  margin: 0 auto;
  font-size: 1.75em;
  padding-top: 25%;
  margin-bottom: 5%;
}

a:visited{
  color: inherit;
}


div.content{
  width: 75%;
  margin: 0 auto;
}


div.queueHider{
  width: 100%;
  font-size: 2em;
}

div.tab{
  width: 50%;
  text-align: center;
  float: left;
  cursor: pointer;
  background-color: #004387;
  border-radius: 10px;
}

.tabs button{
  width: 50%;
  background-color: #001145;
  border: none;
  color: inherit;
  font: inherit;
  font-size: 2em;
  cursor: pointer;
  padding: 2%;
}

.tabs button.active{
  background-color: #003B39;
}


.tabContainer{
  background-color: #003B39;
}

.tabContainer div{
  padding: 5%;
}

.hidden{
  display: none;
}

ul{
  padding: 0px;
  list-style: none;
}


ul li{
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

li.queueItem{
  display: grid;
  width: 100%;
  height: 64px;
  margin-bottom: 2%;
  grid-template-columns: 64px 70% 40px;
  grid-template-rows: auto;
}

li.queueItem p{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5%;
  padding-right: 5%;
}

li.searchItem{
  display: grid;
  width: 100%;
  cursor: pointer;
  height: 64px;
  margin-bottom: 2%;
  grid-template-columns: 64px auto;
  grid-template-rows: auto;
}

li.searchItem img{
  float: left;
  width: 64px;
}

li.searchItem p{
  margin-left: 5%;
  text-align: center;
  line-height: 44px;
}

div.spot{
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  background-color: #ECB613;
  border-radius: 50%;
  cursor: pointer;
}

div.spot p {
  position: relative;
  font-size: 2em;
  transition: all 1s;
}

img.logo{
  padding-bottom: 5%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  overflow-y: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
.modalContent {
  color: black;
  background-color: #fefefe;
  margin: var(--modal-vertical) auto; /* 15% from the top and centered */
  width: 300px; /* Could be more or less, depending on screen size */
  padding: var(--modal-padding);
  padding-bottom: calc(71px + var(--modal-padding)); /* 71px for height of buttons */
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.modal:target {
  background-color: #FF00FF;
}

input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.indexOption{
  width: 100px;
  height: 50px;

}

@media only screen and (max-width: 600px) {

    /* Used for house keeping */
    :root{
      --main-bg-color: #02182E;
      --modal-padding: 3%;
      --modal-vertical: 25%;
    }

    body{
      margin: 0;
    }

    div.content{
      width: 100%;
    }

    div.tabContainer{
      width: 100%;
    }

    div.tabContainer input{
      width: 100%;
    }

    ul#q{
      width: 100%;
      padding-left: 0;
    }

    ul#q li{
      width: 100%;
    }

    img.logo{
      padding-bottom: 10%;
      padding-top: 5%;
    }

    div.hostBtn{
      display: none;
    }
}
